DATABASE_URL=postgresql://tub_user:tub_pass@db:5432/tub_db
POSTGRES_USER=tub_user
POSTGRES_PASSWORD=tub_pass
POSTGRES_DB=tub_db
SECRET_KEY=supersecretkey123_tub_dai
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
